<div class="col-lg-10 col-lg-offset-2">
    <div class="jumbotron">
        <h1>{{title}}</h1>
        <p>Somos Fabricantes de salas, comedores, alcobas y accesorios, con las mejores materias primas y diseños a pedido del cliente. Realizamos reparaciones y arreglos a medida, servicio garantizado. Conoce nuestros productos
        </p>
        <p>
            <a class="btn btn-default btn-lg" role="button" [routerLink]="['/furniture']">
                Ver Muebles
            </a>
            <a class="btn btn-default btn-lg" role="button" [routerLink]="['/furniture_Type']">
                Ver Tipo Muebles
            </a>
            <a class="btn btn-default btn-lg" role="button" [routerLink]="['/material']">
                Materiales De Construccion
            </a>
            <a class="btn btn-default btn-lg" role="button" [routerLink]="['/finished']">
                Terminado De Muebles
            </a>
        </p>
    </div>
</div>